/* ========= 正文 ========= */

body {
    font-family:
        "Songti SC",
        "STSong",
        "Noto Serif SC",
        serif;

    font-size: 18px;

    line-height: 1.85;
}


/* ========= 标题 ========= */

h1 {
    font-size: 2.3rem;
    margin-top: .5rem;
    margin-bottom: 1.2rem;
}
h2 {
    margin-top: 2.5rem;
    padding-bottom: .3rem;
    border-bottom: 2px solid #e5e7eb;
}
h3 {
    margin-top: 2rem;
}
/* ========= 段落 ========= */

.md-typeset p {

    margin-top: .9em;

    margin-bottom: .9em;

    text-align: justify;
}

/* ========= 列表 ========= */

.md-typeset li {

    margin-top: .45em;

    margin-bottom: .45em;
}

/* ========= 表格 ========= */

.md-typeset table:not([class]) {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin: 1.5rem 0;
}
.md-typeset table thead {
    background: #f4f6f8;
}

.md-typeset table th {
    font-weight: 700;
    font-size: .95rem;
}
.md-typeset table td,
.md-typeset table th {
    padding: .8rem 1rem;
}
.md-typeset table tbody tr:nth-child(even) {
    background: #fafafa;
}
/* ========= 代码 ========= */

code,
pre {

    font-family:
        "JetBrains Mono",
        "SF Mono",
        monospace;
}